.container {
  display: flex;
}
.navbar__container {
  flex: 0 10%;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}
.customer__container {
  flex: 0 90%;
  background-color: #fafafa;
  padding: 30px;
}
.customer__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.customer__overview {
  display: flex;
  gap: 3rem;
}
.customer__content,
.stats__overview {
  padding: 30px 30px 70px 30px;
  background-color: #fff;
  border-radius: 30px;
  flex: 0 40%;
}
.tabel__container {
  margin-top: 2rem;
  padding: 30px 30px 70px 30px;
  background-color: #fff;
  border-radius: 30px;
}
.customer__heading {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}
.circular__chart--container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.chart__heading {
  font-size: 14px;
  line-height: 16px;
  color: #a7a7a7;
  margin-top: 10px;
}
.search__input {
  border: 1px solid #b5b7c0;
  padding: 10px;
  background: #f9fbff;
  outline: none;
  border-radius: 10px;
}
.table__heading--sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.heading__text {
  font-size: 14px;
  line-height: 21px;
  color: #16c098;
}
.nav__item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #000000;
  margin: 15px 0;
  display: flex;

  align-items: center;
}
.nav__item.active {
  background: rgba(27, 89, 248, 0.1);
  padding: 10px;
  border-radius: 10px;
  color: #1b59f8;
}
.nav__item img {
  margin-right: 10px;
}
.logo {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.add__order--btn {
  background: #1b59f8;
  outline: none;
  border: none;
  padding: 8px 12px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper
  .ant-table-thead
  > tr
  > th {
  font-size: 14px;
  color: #b5b7c0;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  color: #292d32;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
}
